doctype html
html(lang="en")
    head
        include partials/head.pug
    body
        div.container

            include partials/header.pug

            div.block
                p.text-justify
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam at eveniet quidem. Aperiam culpa, cum dolorum fugit maxime mollitia, nam nostrum nulla obcaecati odit officia optio provident ratione sequi sint.

            include partials/file_input.pug

            div.block
                table.table
                    thead
                        th: | Title
                        th: | Type
                        th: | Size
                    tbody#game_list

            div.block
                p.text-justify
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci dicta laborum placeat quas repellat rerum veniam! Ad, asperiores autem corporis ea error excepturi itaque maiores, natus officia quaerat, reiciendis sapiente?

            div.block
                a.tape(href="examples/roadf.cas")
                    | Road Fighter

        script(type="text/javascript",
            src="static/js/script.js")
