doctype html
html(lang="en")
    head
        include partials/head.pug
    body
        div.container

            include partials/header.pug

            div.block
                p.text-justify.disclaimer
                    strong
                        | This software should be considered experimental and of beta-quality.
                p.text-justify
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam at eveniet quidem. Aperiam culpa, cum dolorum fugit maxime mollitia, nam nostrum nulla obcaecati odit officia optio provident ratione sequi sint.

            include partials/file_input.pug

            div.block
                table.table
                    thead
                        th: | Title
                        th: | Type
                        th: | Size
                    tbody#game_list

            div.block
                p.text-justify
                    | You can alternatively try to pick one of the
                    | following demo tapes, and load it on your
                    | real hardware:

            div.block
                a.tape(href="_examples/super_ilevan.cas")
                    | Super Ilevan (Koichi Nishida, 1987)

        script(type="text/javascript",
            src="_static/js/script.js")
